@page
@model TPD.Pages.Vendors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Location.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.ParkInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.ParkInfo.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.VendorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.VendorType.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vendor.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
