@page
@model TPD.Pages.Vendors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.Location.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.ParkInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.ParkInfo.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor.VendorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor.VendorType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vendor.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
